body, html {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #162c5e;
    color: #ffffff;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    padding-bottom: 10%;
}

form {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 0;
}

form > * {
    padding: 10px;
}